<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-app-update"
    version="0.0.2">
    <name>AppUpdate</name>
 
    <js-module src="www/AppUpdate.js" name="AppUpdate">
     		<clobbers target="cordova.plugins.AppUpdate" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppUpdate">
                <param name="android-package" value="com.cordova.appUpdate.AppUpdate"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
           <source-file src="src/android/AppUpdate.java" target-dir="src/com/cordova/appUpdate" />
           <source-file src="src/android/ParseXmlService.java" target-dir="src/com/cordova/appUpdate"/>
           <source-file src="src/android/UpdateManager.java" target-dir="src/com/cordova/appUpdate"/>
           <source-file src="res/layout/notification_item.xml" target-dir="res/layout"/>

	   			 <hook type="after_plugin_install" src="hooks/after_plugin_install/after_plugin_install.js"/>
    </platform>
</plugin>